<div class="col-4 p-1">
    <div class="card shadow">
        <a href="/store/{{storeID}}" class="text-muted btn btn-link p-0">
            <div class="row m-0 bg-light innershadow-sm">
                <div class="col-8 d-flex align-items-end p-0">
                    <h5 class="text-secondary card-title ml-3 mb-1">{{storeName}}</h5>
                </div>
            </div>
        </a>
        <div class="card-body">
            <p class="card-text">{{description}}</p>
        </div>
        <div class="card-footer">
            <img class="rating" src="assets/img/ratings/{{stars}}star.png" alt="{{stars}} stars">
        </div>
    </div>
</div>