<div>

            <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link text-success active" id="nav-info-tab" data-toggle="tab"
                        href="#nav-info" role="tab" aria-controls="nav-info" aria-selected="true">Store Info</a>
                    <a class="nav-item nav-link text-success" id="nav-photo-tab" data-toggle="tab" href="#nav-photo"
                        role="tab" aria-controls="nav-photo" aria-selected="false">Photos</a>
                    <a class="nav-item nav-link text-success" id="nav-review-tab" data-toggle="tab" href="#nav-review"
                        role="tab" aria-controls="nav-review" aria-selected="false">Store Reviews</a>
                </div>
            </nav>

            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">





                <div class="tab-pane fade show active" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
                    <!-- store details -->
                    <div class="container">

                        <div class="row">
                            <div class="col-3 p-2 shadow">
                                <h5>Store Information:</h5>
                                <p>
                                    {{store.address}} <br />
                                    Contacts: {{store.contactNo}} <br />
                                    Store Schedule: {{store.sched}} <br />
                                </p>

                                <a href="storeowner.html" class="card-link" data-toggle="tooltip" data-placement="right"
                                    title="store owner">Back to your profile</a>
                            </div>

                            <div class="col-9">
                                <div class="row mb-3">
                                    <div class="col-2">
                                        <img class="card-img-top logo shadow" src="{{store.logo}}"
                                            alt="Card image cap">
                                    </div>
                                    <div class="col-10 d-flex align-items-end p-0">
                                        <div>
                                            <h3 class="text-secondary ml-3 mb-1">{{store.name}}</h3>
                                            <img class="rating ml-3 mb-1" src="{{store.rating}}"
                                                alt="5 stars">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div>
                                    <h5>About Us</h5>
                                    <p> {{store.desc}} </p>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-end">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-success" data-toggle="modal"
                                data-target="#exampleModal">
                                <span onmouseover="   " onclick="" id="" style="font-size:20px;cursor:pointer;"
                                    class="fa fa-edit"></span> Edit
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Edit Store Profile</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">

                                            <div class="form-container">
                                                <form method="post">

                                                    <div class="form-row">
                                                        <div class="col">
                                                            <label for="storeinfo">Store Information</label>
                                                            <textarea class="form-control" id="storeinfo" rows="10"
                                                                placeholder="Store Information">
Store address 
Contacts: 917-xxx-xxxx
Store Schedule
                                                            </textarea>
                                                        </div>
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label for="storelogo">Store Logo</label>
                                                                <input type="file" accept=".jpg, .jpeg"
                                                                    class="form-control-file" id="storelogo">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="storename">Store Name</label>
                                                                <input class="form-control" type="text" name="storename"
                                                                    required="" placeholder="Store Name"
                                                                    value="Store Name">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="storebio">Store Description</label>
                                                        <textarea class="form-control editorhtml" id="storebio"
                                                            rows="15" placeholder="Store Description" wrap="hard">
Store Description  Store Description  Store Description  Store Description  Store Description  Store Description  Store Description  Store Description  Store Description  Store Description  Store Description  Store Description  Store Description  Store Description  Store Description  Store Description  Store Description  Store Description  Store Description  Store Description  Store Description  Store Description  Store Description  Store Description  Store Description  Store Description  Store Description  Store Description  Store Description  Store Description  Store Description  Store Description  Store Description  Store Description  Store Description  Store Description  Store Description  Store Description  Store Description  Store Description  Store Description  Store Description  Store Description  Store Description 
                                                        </textarea>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-success">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr>
                    </div>
                </div>

                <div class="tab-pane fade" id="nav-photo" role="tabpanel" aria-labelledby="nav-photo-tab">
                    <!-- store photos -->

                    <div class="container">
                        <div class="row p-2">


                            <!-- images go here -->
                            {{#each store.img}}
                            <div class="col-4 p-1">
                                <div id="000{{@index}}_O" class="box overlay" onmouseleave="off(this)">
                                    <div class="dropdown d-flex justify-content-end">
                                        <button class="btn " type="button" id="dropdownMenuButton"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span onmouseover="" onclick="" id="" style="font-size:20px;cursor:pointer;"
                                                class="text-white fa fa-ellipsis-h "></span>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right shadow"
                                            aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="#">Delete</a>
                                        </div>
                                    </div>
                                </div>

                                <div id="000{{@index}}" onmouseenter="on(this)" class="card shadow">
                                    <img class="thumbnail-image"
                                        src="{{this}}">
                                </div>
                            </div>
                            {{/each}}

                            <!-- no images beyond this point -->

                        </div>
                    </div>

                </div>

                <div class="tab-pane fade" id="nav-review" role="tabpanel" aria-labelledby="nav-review-tab">
                    <!-- reviews -->
                    <div class="container">
                        <h3 class="text-secondary">Reviews</h3>

                        <!-- reviews for the store -->
                        <div class="container">

                            <!-- Sort button -->
                            <div class="dropdown d-flex justify-content-end">
                                <button class="btn btn-outline-success" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="font-weight-bold">
                                        <span onmouseover="" onclick="" id="" style="font-size:20px;cursor:pointer;"
                                            class="fa fa-sort-amount-down "></span>
                                        SORT BY
                                    </div>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right shadow" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Newest</a>
                                    <a class="dropdown-item" href="#">Oldest</a>
                                    <a class="dropdown-item" href="#">Most Approved</a><!-- most amount of points -->
                                    <a class="dropdown-item" href="#">Least Approved</a><!-- least amount of points -->
                                </div>
                            </div>

                            <!-- reviews for the store -->
                            {{#each review}}
                            <div>
                                <hr>
                                <div class="row">
                                    <div class="col-1">
                                        <img src="http://standaloneinstaller.com/upload/avatar.png">
                                        <small>by <a href="_userprofforother.html">{{review.author}}</a></small>
                                    </div>
                                    <div class="col-10">
                                        <div class="" data-id="0" data-rating="5">
                                            <img class="rating" src="{{review.rating}}" alt="5 stars">
                                            <span class="text-secondary">
                                                <small>{{review.points}}</small>
                                                .
                                                <small>{{review.date}}</small>
                                            </span>
                                        </div>
                                        <p class="review-text">{{review.body}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {{/each}}

                            <!-- reviews end here -->
                            <hr>
                        </div>
                    </div>

                </div>
            </div>

        </div>