<hr>
<div class="row user-Bookmark">
    <div class="col-9">
        <div class="" data-id="0" data-rating="5">
            <p class="m-0 p-0 col-9">{{storeName}}<img src="/assets/img/ratings/{{stars}}star.png"
                    alt="[{{stars}}stars]" class="rating ml-3"></p>
        </div>
        <p class="description-text">{{description}}</p>
    </div>
    <div class="col-3 d-flex justify-content-center align-items-center">
        <a href="/store/{{storeID}}" class="btn btn-outline-success">Go to Store</a>
    </div>
</div>