<hr>
<div class="row user-review">
    <div class="col-9">
        <div class="" data-id="0" data-rating="5">
            {{!-- <img class="rating" src="{{review.rating}}" alt="5 stars"> --}}
            <p class="m-0 p-0 col-9">{{storeName}}<img src="/assets/img/ratings/{{storeRating}}star.png"
                    alt="[{{storeRating}}stars]" class="rating ml-3"></p>
            <span class="text-secondary">
                <small>{{score}} points</small>
                .
                <small>{{getDate postDate}}</small>
            </span>
        </div>
        <p class="review-text">{{content}}</p>
    </div>
    <div class="col-3 d-flex justify-content-center align-items-center">
        {{#if accOwner}}
        <a href="/store/{{storeID}}" class="btn btn-outline-success">Edit</a>
        {{else}}
        <a href="/store/{{storeID}}" class="btn btn-outline-success">Go to Store</a>
        {{/if}}
    </div>
</div>