<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow">
        <a class="navbar-brand text-success" href="/">ReviewMe!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search Stores">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </li>
            </ul>

            {{#if guest}}
            {{> guestUI}}
            {{else}}
            {{> userUI}}
            {{/if}}
        </div>
    </nav>
</header>
<!-- store photos -->
<div class="thumbnail-container jumbotron shadow">
    <ul class="thumbnail-list">
        <li><span><img class="thumbnail-image" src="https://source.unsplash.com/collection/190727/300x300"></span></li>
        <li><span><img class="thumbnail-image" src="https://source.unsplash.com/collection/190727/1920x1080"></span>
        </li>
        <li><span><img class="thumbnail-image" src="https://source.unsplash.com/collection/190727/640x480"></span></li>
        <li><span><img class="thumbnail-image" src="https://source.unsplash.com/collection/190727/800x600"></span></li>
        <li><span><img class="thumbnail-image" src="https://source.unsplash.com/collection/190727/1024x768"></span></li>
        <li><span><img class="thumbnail-image" src="https://source.unsplash.com/collection/190727/1280x1024"></span>
        </li>
        <li><span><img class="thumbnail-image" src="https://source.unsplash.com/collection/190727/1280x720"></span></li>
        <li><span><img class="thumbnail-image" src="https://source.unsplash.com/collection/190727/1920x1200"></span>
        </li>
        <li><span><img class="thumbnail-image" src="https://source.unsplash.com/collection/190727/2560x1440"></span>
        </li>
        <li><span><img class="thumbnail-image" src="https://source.unsplash.com/collection/190727/3840x2160"></span>
        </li>
    </ul>
</div>
<!-- store details -->
<div class="container">
    <div>
        <div>
            <div class="d-flex align-items-end p-0">
                <h3 class="text-secondary ml-3 mb-1">{{storeName}}</h3>
                <img class="rating ml-3 mb-2" src="../assets/img/ratings/{{stars}}star.png" alt="{{stars}} stars">
            </div>
            <small class="text-secondary ml-3"><a href="/profile/user/{{userID}}">owner</a></small>
        </div>
        <hr>
        <div>
            <h5>About Us</h5>
            <p>{{description}}</p>
        </div>
    </div>
    <hr>
    <!-- reviews -->
    <div class="container">
        <h3 class="text-secondary">Reviews</h3>

        {{#if guest}}
        <div>
            <div class="shadow p-3 m-3">
                <div class="row text-center">
                    <h4 class="col-12">Not Logged In</h4>
                </div>
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <a href="/login" role="button" class="btn btn-outline-success mr-1">Log In
                        </a>
                        <a href="/signup" role="button" class="btn btn-success ml-1">Sign Up
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {{else}}
        {{#if reviewed}}
        <div class="m-3 p-3">
            <hr>
            <h3 class="text-secondary">Your Review</h3>
            <div id="{{myReview.reviewID}}">


                <div class="row">
                    <div class="col-9" data-id="0" data-rating="5">
                        <p class="m-0 p-0 col-9">{{myReview.score}} points <img class="rating ml-3 mb-2"
                                src="/assets/img/ratings/{{myReview.storeRating}}star.png"
                                alt="{{myReview.storeRating}} stars"></p>
                    </div>

                    <div class="col-3 d-flex justify-content-end align-items-center btn-group" role="group">
                        <button type="button" class="btn btn-outline-success" data-toggle="modal"
                            data-target="#myReview_Edit">Edit</button>

                        <div class="modal fade" id="myReview_Edit" tabindex="-1" role="dialog"
                            aria-labelledby="myReview_EditTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="myReview_EditTitle">Edit Your Review</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <textarea style="overflow:auto;resize:none" rows="13" cols="20;"
                                            class="form-control mt-2" rows="3" id="myReview_EditContent"
                                            placeholder="Enter your review"></textarea>
                                        <select class="custom-select" id="myReview_EditRating">
                                            <option selected>Rating...</option>
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-success">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-outline-danger" data-toggle="modal"
                            data-target="#myReview_Delete">Delete</button>

                        <div class="modal fade" id="myReview_Delete" tabindex="-1" role="dialog"
                            aria-labelledby="myReview_DeleteTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="myReview_DeleteTitle">Delete your review?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you wnat to delete your review?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                        <button type="button" class="btn btn-danger">Yes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <p class="review-text">{{myReview.content}}</p>
                <div class="d-flex justify-content-between">
                    {{#if myReview.edited}}
                    <small class="text-secondary">Edited: {{getDate myReview.postDate}}</small>
                    {{else}}
                    <small class="text-secondary">{{getDate myReview.postDate}}</small>
                    {{/if}}
                    <button class="btn btn-outline-success">Reply</button>
                </div>

            </div>
            {{#each myReview.comments}}
            <hr>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-10 d-flex align-items-center justify-content-start">{{content}}</div>
            </div>
            {{/each}}
            <hr>
        </div>
        {{else}}
        <div class="m-3 p-3">
            <h3 class="text-secondary">Give Your Review</h3>
            <textarea style="overflow:auto;resize:none" rows="13" cols="20;" class="form-control mt-2" rows="3"
                id="myReview_NewContent" placeholder="Enter your review"></textarea>
            <div>
                <div class="row">
                    <div class="col-5">
                        <button onclick="submitReview({{storeID}})" type="button"
                            class="btn btn-lg btn-success m-1" id="myReview_Submit" >Submit</button>
                    </div>
                    <div class="col-7 d-flex justify-content-end">
                        <select class="custom-select" id="myReview_NewRating">
                            <option selected>Rating...</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
        {{/if}}
        <!-- reviews for the store -->

        <div class="container">
            <div class="dropdown d-flex justify-content-end">
                <button class="btn btn-outline-success" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <div class="font-weight-bold">
                        <span onmouseover="" onclick="" id="" style="font-size:20px;cursor:pointer;"
                            class="fa fa-sort-amount-down "></span>
                        SORT BY
                    </div>
                </button>
                <div class="dropdown-menu dropdown-menu-right shadow" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Newest</a>
                    <a class="dropdown-item" href="#">Oldest</a>
                    <a class="dropdown-item" href="#">Most Approved</a><!-- most amount of points -->
                    <a class="dropdown-item" href="#">Least Approved</a><!-- least amount of points -->
                </div>
            </div>

            <div>
                {{#each reviews}}
                {{>store_review this}}
                {{/each}}

            </div>
        </div>
    </div>

</div>