<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow">
        <a class="navbar-brand text-success" href="/">ReviewMe!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search Stores">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </li>
            </ul>

            {{#if guest}}
            {{> guestUI}}
            {{else}}
            {{> userUI}}
            {{/if}}
        </div>
    </nav>
</header>
<!-- store reviews -->

<div class="container">

    <div class="row m-3">

        <div class="col-2">
            <div class="d-flex flex-column">
                <h5 class="text-secondary ml-3 mb-1" id="userProf_username">{{user}}</h5>
                <small class="text-secondary ml-3">UserID: #{{userID}}</small>
                <input id="userProf_userID" type="hidden" value="{{userID}}">
                {{#if accOwner}}
                {{#if storeOwner}}
                <button class="btn btn-outline-success" id="userProf_storeProf">Go to Store</button>
                {{else}}
                <button class="btn btn-outline-success" id="userProf_storeCreate">Create a Store</button>
                {{/if}}
                {{else}}
                {{/if}}
            </div>
        </div>

        <div class="col-10 bg-white shadow">
            <p class="card-text" id="userProf_bio">
                {{bio}}
            </p>
        </div>
    </div>
    {{#if accOwner}}
    <div class="d-flex justify-content-end">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
            <span onmouseover="   " onclick="" id="" style="font-size:20px;cursor:pointer;"
                class="fa fa-user-edit"></span> Edit
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-container">
                            <form id="userProf_edit">

                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input class="form-control" type="text" id="userProf_modalUsername" required=""
                                        placeholder="Username" value={{user}}>
                                </div>
                                <div class="form-group">
                                    <label for="bio">Bio</label>
                                    <textarea class="form-control editorhtml" id="userProf_modalBio" rows="10"
                                        placeholder="Store Description" wrap="hard">{{bio}}</textarea>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" id="userProf_editOK">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{else}}
    {{/if}}

</div>

<!--after editing -->
<div class="container bg-light mt-2">
    <div class="row p-2">
        {{!-- bio side card --}}
        <div class="col-4 p-1">
            <div class="card bioscroll shadow sticky-top">
                <a href="#" class="text-muted">
                    <div class="row m-0 bg-light innershadow-sm">
                        <div class="col-8 d-flex align-items-end p-0">
                            <div class="card-title">
                                <h5 class="text-secondary ml-3 mb-1">{{user}}</h5>
                                <small class="text-secondary ml-3">UserID: #{{userID}}</small>
                            </div>
                        </div>
                    </div>
                </a>

                <div class="card-body">
                    <p class="card-text">{{bio}} </p>
                </div>
            </div>
        </div>
        <!--reviews -->
        <div class="col-8 p-1">

            <div class="ml-5">
                {{#each reviews}}
                {{>user_review this}}
                {{/each}}

            </div>

        </div>
    </div>
</div>