{{login_navbar}}

<!-- store reviews -->

<div class="container">

    <div class="row m-3">

        <div class="col-2">
            <div class="d-flex flex-column">
                <h5 class="text-secondary ml-3 mb-1">{{username}}</h5>
                <small class="text-secondary ml-3">UserID: #{{userID}}</small>
                <button class="btn btn-outline-success" id="userProf_storeCreate">Create a Store</button>
            </div>
        </div>

        <div class="col-10 bg-white shadow">
            <p class="card-text">
                {{bio}}
            </p>
        </div>
    </div>

    <div class="d-flex justify-content-end">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
            <span onmouseover="   " onclick="" id="" style="font-size:20px;cursor:pointer;"
                class="fa fa-user-edit"></span> Edit
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-container">
                            <form method="post">

                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input class="form-control" type="text" name="username" required=""
                                        placeholder="Username" value="Username">
                                </div>
                                <div class="form-group">
                                    <label for="bio">Bio</label>
                                    <textarea class="form-control editorhtml" id="bio" rows="10"
                                        placeholder="Store Description" wrap="hard"></textarea>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--after editing -->
<div class="container bg-light mt-2">
    <div class="row p-2">
{{!-- bio side card --}}
        <div class="col-4 p-1">
            <div class="card bioscroll shadow sticky-top">
                <a href="#" class="text-muted">
                    <div class="row m-0 bg-light innershadow-sm">
                        <div class="col-4 p-0">
                            <img class="card-img-top logo shadow" src="http://standaloneinstaller.com/upload/avatar.png"
                                alt="Card image cap">
                        </div>
                        <div class="col-8 d-flex align-items-end p-0">
                            <div class="card-title">
                                <h5 class="text-secondary ml-3 mb-1">{{user.username}}</h5>
                                <small class="text-secondary ml-3">UserID: #{{user.id}}</small>
                            </div>
                        </div>
                    </div>
                </a>

                <div class="card-body">
                    <p class="card-text">{{user.bio}} </p>
                </div>
            </div>
        </div>
        <!--reviews -->
        <div class="col-8 p-1">

            <div class="ml-5">
                {{#each review}}
                <hr>
                <div class="row">

                    <div class="col-3 d-flex flex-column">
                        <img class="card-img-top logo" src="{{review.logo}}">
                    </div>

                    <div class="col-9">
                        <div class="" data-id="0" data-rating="5">
                            <img class="rating" src="{{review.rating}}" alt="5 stars">
                            <span class="text-secondary">
                                <small>{{review.points}}</small>
                                .
                                <small>{{review.date}}</small>
                            </span>
                        </div>
                        <p class="review-text">{{review.body}}</p>
                    </div>
                </div>
                {{/each}}

            </div>

        </div>
    </div>
</div>